Breast_Cancer.json
[{"id":"f5f2717e.03871","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"797ea4d4.99a58c","type":"function","z":"f5f2717e.03871","name":"PreToken","func":"global.set(\"id\",msg.payload.id)\nglobal.set(\"rm\",msg.payload.rm)\nglobal.set(\"tm\",msg.payload.tm)\nglobal.set(\"pm\",msg.payload.pm)\nglobal.set(\"am\",msg.payload.am)\nglobal.set(\"sm\",msg.payload.sm)\nglobal.set(\"com\",msg.payload.com)\nglobal.set(\"con\",msg.payload.con)\nglobal.set(\"cpm\",msg.payload.cpm)\nglobal.set(\"sym\",msg.payload.sym)\nglobal.set(\"fdm\",msg.payload.fdm)\nglobal.set(\"rs\",msg.payload.rs)\nglobal.set(\"ts\",msg.payload.ts)\nglobal.set(\"ps\",msg.payload.ps)\nglobal.set(\"as\",msg.payload.as)\nglobal.set(\"ss\",msg.payload.ss)\nglobal.set(\"coms\",msg.payload.coms)\nglobal.set(\"cons\",msg.payload.cons)\nglobal.set(\"cps\",msg.payload.cps)\nglobal.set(\"sys\",msg.payload.sys)\nglobal.set(\"fds\",msg.payload.fds)\nglobal.set(\"rw\",msg.payload.rw)\nglobal.set(\"tw\",msg.payload.tw)\nglobal.set(\"pw\",msg.payload.pw)\nglobal.set(\"aw\",msg.payload.aw)\nglobal.set(\"sw\",msg.payload.sw)\nglobal.set(\"comw\",msg.payload.comw)\nglobal.set(\"conw\",msg.payload.conw)\nglobal.set(\"cpw\",msg.payload.cpw)\nglobal.set(\"syw\",msg.payload.syw)\nglobal.set(\"fdw\",msg.payload.fdw)\nglobal.set(\"un\",msg.payload.un)\nvar apikey=\"vJrGfBtYbSkcylorw72zW9f_35TiuKfhnYVueFwC-STf\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":360,"wires":[["32360924.027a06"]]},{"id":"32360924.027a06","type":"http request","z":"f5f2717e.03871","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":479,"y":348.9999952316284,"wires":[["458f0dd5.614464","8d084b59.d6cb68"]]},{"id":"adee673c.2656a8","type":"debug","z":"f5f2717e.03871","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":918.0000114440918,"y":90.99999713897705,"wires":[]},{"id":"458f0dd5.614464","type":"function","z":"f5f2717e.03871","name":"Pre Prediction","func":"var id = global.get('id')\nvar rm = global.get('rm')\nvar tm = global.get('tm')\nvar pm = global.get('pm')\nvar am = global.get('am')\nvar sm = global.get('sm')\nvar com = global.get('com')\nvar con = global.get('con')\nvar cpm = global.get('cpm')\nvar sym = global.get('sym')\nvar fdm = global.get('fdm')\nvar rs = global.get('rs')\nvar ts = global.get('ts')\nvar ps = global.get('ps')\nvar as = global.get('as')\nvar ss = global.get('ss')\nvar coms = global.get('coms')\nvar cons = global.get('cons')\nvar cps = global.get('cps')\nvar sys = global.get('sys')\nvar fds = global.get('fds')\nvar rw = global.get('rw')\nvar tw = global.get('tw')\nvar pw = global.get('pw')\nvar aw = global.get('aw')\nvar sw = global.get('sw')\nvar comw = global.get('comw')\nvar conw = global.get('conw')\nvar cpw = global.get('cpw')\nvar syw = global.get('syw')\nvar fdw = global.get('fdw')\nvar un = global.get('un')\nvar token=msg.payload.access_token\nvar instance_id=\"6f07624b-74cb-4318-a37f-622f4ff179e1\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"id\", \"radius_mean\", \"texture_mean\", \"perimeter_mean\", \"area_mean\", \"smoothness_mean\", \"compactness_mean\", \"concavity_mean\", \"concave points_mean\", \"symmetry_mean\", \"fractal_dimension_mean\", \"radius_se\", \"texture_se\", \"perimeter_se\", \"area_se\", \"smoothness_se\", \"compactness_se\", \"concavity_se\", \"concave points_se\", \"symmetry_se\", \"fractal_dimension_se\", \"radius_worst\", \"texture_worst\", \"perimeter_worst\", \"area_worst\", \"smoothness_worst\", \"compactness_worst\", \"concavity_worst\", \"concave points_worst\", \"symmetry_worst\", \"fractal_dimension_worst\", \"Unnamed: 32\"], \"values\": [[id,rm,tm,pm,am,sm,com,con,cpm,sym,fdm,rs,ts,ps,as,ss,coms,cons,cps,sys,fds,rw,tw,pw,aw,sw,comw,conw,cpw,syw,fdw,un]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":676.0000076293945,"y":311.9999990463257,"wires":[["1998c7e4.da1988"]]},{"id":"1998c7e4.da1988","type":"http request","z":"f5f2717e.03871","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/b1fe22ba-e475-48b9-904f-28fd6b450346/predictions","tls":"","persist":false,"proxy":"","authType":"","x":769.5000076293945,"y":255.99999904632568,"wires":[["cb3b3cf5.bed7f","adee673c.2656a8"]]},{"id":"2db042e4.219d6e","type":"ui_form","z":"f5f2717e.03871","name":"","label":"","group":"c9a59b74.d59d28","order":1,"width":0,"height":0,"options":[{"label":"id","value":"id","type":"number","required":true,"rows":null},{"label":"radius_mean","value":"rm","type":"number","required":true,"rows":null},{"label":"texture_mean","value":"tm","type":"number","required":true,"rows":null},{"label":"perimeter_mean","value":"pm","type":"number","required":true,"rows":null},{"label":"area_mean","value":"am","type":"number","required":true,"rows":null},{"label":"smoothness_mean","value":"sm","type":"number","required":true,"rows":null},{"label":"compactness_mean","value":"com","type":"number","required":true,"rows":null},{"label":"concavity_mean","value":"con","type":"number","required":true,"rows":null},{"label":"concave points_mean","value":"cpm","type":"number","required":true,"rows":null},{"label":"symmetry_mean","value":"sym","type":"number","required":true,"rows":null},{"label":"fractal_dimension_mean","value":"fdm","type":"number","required":true,"rows":null},{"label":"radius_se","value":"rs","type":"number","required":true,"rows":null},{"label":"texture_se","value":"ts","type":"number","required":true,"rows":null},{"label":"perimeter_se","value":"ps","type":"number","required":true,"rows":null},{"label":" area_se","value":"as","type":"number","required":true,"rows":null},{"label":"smoothness_se","value":"ss","type":"number","required":true,"rows":null},{"label":"compactness_se","value":"coms","type":"number","required":true,"rows":null},{"label":"concavity_se","value":"cons","type":"number","required":true,"rows":null},{"label":"concave points_se","value":"cps","type":"number","required":true,"rows":null},{"label":"symmetry_se","value":"sys","type":"number","required":true,"rows":null},{"label":"fractal_dimension_se","value":"fds","type":"number","required":true,"rows":null},{"label":"radius_worst","value":"rw","type":"number","required":true,"rows":null},{"label":"texture_worst","value":"tw","type":"number","required":true,"rows":null},{"label":"perimeter_worst","value":"pw","type":"number","required":true,"rows":null},{"label":"area_worst","value":"aw","type":"number","required":true,"rows":null},{"label":" smoothness_worst smoothness_worst","value":"sw","type":"number","required":true,"rows":null},{"label":"compactness_worst","value":"comw","type":"number","required":true,"rows":null},{"label":"concavity_worst","value":"conw","type":"number","required":true,"rows":null},{"label":"concave points_worst","value":"cpw","type":"number","required":true,"rows":null},{"label":"symmetry_worst","value":"syw","type":"number","required":true,"rows":null},{"label":"fractal_dimension_worst","value":"fdw","type":"number","required":true,"rows":null},{"label":"Unnamed: 32","value":"un","type":"number","required":false,"rows":null}],"formValue":{"id":"","rm":"","tm":"","pm":"","am":"","sm":"","com":"","con":"","cpm":"","sym":"","fdm":"","rs":"","ts":"","ps":"","as":"","ss":"","coms":"","cons":"","cps":"","sys":"","fds":"","rw":"","tw":"","pw":"","aw":"","sw":"","comw":"","conw":"","cpw":"","syw":"","fdw":"","un":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":71,"y":402.9999952316284,"wires":[["797ea4d4.99a58c"]]},{"id":"9c4e2f51.31126","type":"ui_text","z":"f5f2717e.03871","group":"c9a59b74.d59d28","order":2,"width":0,"height":0,"name":"","label":"Diagnosis","format":"{{msg.payload}}","layout":"row-spread","x":807.6000366210938,"y":408.20000743865967,"wires":[]},{"id":"cb3b3cf5.bed7f","type":"function","z":"f5f2717e.03871","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":629.6000366210938,"y":151.60000133514404,"wires":[["9c4e2f51.31126"]]},{"id":"8d084b59.d6cb68","type":"debug","z":"f5f2717e.03871","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":480,"wires":[]},{"id":"c9a59b74.d59d28","type":"ui_group","z":"","name":"Breast_Cancer_Risk_Prediction","tab":"dad2a433.a4d7e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"dad2a433.a4d7e8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]